@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o5f0di');
  src:  url('fonts/icomoon.eot?o5f0di#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?o5f0di') format('woff2'),
    url('fonts/icomoon.ttf?o5f0di') format('truetype'),
    url('fonts/icomoon.woff?o5f0di') format('woff'),
    url('fonts/icomoon.svg?o5f0di#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-email:before {
  content: "\e92d";
}
.icon-toll-free:before {
  content: "\e92e";
}
.icon-document-import:before {
  content: "\e928";
}
.icon-geo-mapping:before {
  content: "\e929";
}
.icon-graphing:before {
  content: "\e92a";
}
.icon-pipeline:before {
  content: "\e92b";
}
.icon-report:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e927";
}
.icon-checkmark:before {
  content: "\e926";
}
.icon-canada:before {
  content: "\e925";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-home:before {
  content: "\e924";
}
.icon-keyboard_arrow_left:before {
  content: "\e921";
}
.icon-keyboard_arrow_right:before {
  content: "\e922";
}
.icon-keyboard_arrow_up:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e947";
}
.icon-accounting_system_integration:before {
  content: "\e903";
}
.icon-ach_express:before {
  content: "\e904";
}
.icon-adjustable_rate_mortgages:before {
  content: "\e905";
}
.icon-automotive:before {
  content: "\e906";
}
.icon-collateralized_mortgage_obligations:before {
  content: "\e907";
}
.icon-commercial_loans:before {
  content: "\e908";
}
.icon-construction_loans:before {
  content: "\e909";
}
.icon-consumer_credit_reporting:before {
  content: "\e90a";
}
.icon-conventional_lending:before {
  content: "\e90b";
}
.icon-dre_reporting:before {
  content: "\e90c";
}
.icon-education_2:before {
  content: "\e90d";
}
.icon-education:before {
  content: "\e90e";
}
.icon-escrow_administration:before {
  content: "\e90f";
}
.icon-franchisors:before {
  content: "\e910";
}
.icon-fund_management:before {
  content: "\e911";
}
.icon-graduated_terms_mortgage:before {
  content: "\e912";
}
.icon-heloc:before {
  content: "\e913";
}
.icon-hexagon_solid:before {
  content: "\e914";
}
.icon-insurance:before {
  content: "\e915";
}
.icon-investor_borrower_portal:before {
  content: "\e916";
}
.icon-land_development:before {
  content: "\e917";
}
.icon-legal:before {
  content: "\e918";
}
.icon-loan_origination:before {
  content: "\e919";
}
.icon-loan_servicing:before {
  content: "\e91a";
}
.icon-meet_us:before {
  content: "\e91b";
}
.icon-municipalities:before {
  content: "\e91c";
}
.icon-npn:before {
  content: "\e91d";
}
.icon-private_lending:before {
  content: "\e91e";
}
.icon-support:before {
  content: "\e91f";
}
.icon-trust_accounting:before {
  content: "\e920";
}
.icon-hexagonal_start:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-arrow_right:before {
  content: "\e87a";
}
.icon-star:before {
  content: "\f005";
}
.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
