.page.page-template-template-breadcrumbs {
  background-image: url("../images/breadcrumbs-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 66.25em;
  // background-size: 100% auto;
}
