.block.-testimonial-logos {
  margin: 3em 0;
  background-image:
    url("../images/bg-hexagonals-start.png"),
    url("../images/bg-hexagonals-end.png");
  background-repeat: no-repeat;
  background-position: 0 50%, 100% 50%;

  .container {
    display: grid;
    gap: $spacer * 2 $spacer;
  }

  .testimonial-logos__title {
    grid-column: 1 / -1;
    margin: 0;
    font-weight: normal;
    text-align: center;
  }

  .testimonial {
    --paragraph-color: currentColor;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    max-width: 38em;
    margin: 0 auto;
    color: get-color(shades, lightest);

    &__media {
      grid-area: 1 / 1 / -1 / -1;
      margin: 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.4);
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

        @include breakpoint(480px) {
          height: 15em;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__header,
    &__body,
    &__actions {
      padding: $spacer;
      position: relative;
      z-index: 1;
    }

    &__header {
      grid-area: 2 / 1 / 3 / 2;
      font-size: 0.875em;
    }

    &__body {
      grid-area: 1 / 1 / 2 / 3;
      align-self: end;
      padding-bottom: 0;

      p {
        max-width: 28em;
        margin-bottom: 0;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 1.125em;
        line-height: 1.556;

        &:first-child::before {
          content: open-quote;
        }

        &:last-child::after {
          content: close-quote;
        }
      }
    }

    &__actions {
      grid-area: 2 / 2 / 3 / 3;

      .wp-block-button {
        --button-text-hover-color: #{get-color(shades, lightest)};
        --button-border-hover-color: #{get-color(shades, lightest)};

        &__link {
          font-size: 0.875em;
        }
      }
    }
  }

  .logos {
    align-self: center;

    &__actions {
      display: flex;
      justify-content: center;
      gap: $spacer;
      margin-top: $spacer;

      a {
        color: get-color(primary);

        &:hover,
        &:focus {
          color: get-color(shades);
          text-decoration: none;
        }
      }
    }
  }

  .logo-list {
    @include columns(2, ($spacer * 2, $spacer));

    display: grid;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    img {
      display: block;
      margin: 0 auto;
    }

    @include breakpoint(((540px, 1024px), 1260px)) {
      @include columns(3, ($spacer * 2, $spacer));
    }
  }

  @include breakpoint(540px) {
    margin: 5em 0;
  }

  @include breakpoint(1025px) {
    .container {
      gap: $spacer * 2 5em;
      grid-template-columns: 40em 1fr;
    }
  }
}
