@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bk.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("../fonts/ITCAvantGardeStd/ITCAvantGardeStd-XLt.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ITCAvantGardeStd";
  src: url("../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Demi.woff");
  font-weight: 700;
  font-style: normal;
}
