* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  @include font-stack(primary);

  margin: 0;
  color: get-color(primary);

  &.menu-open {
    overflow: hidden;
  }
}

.container,
.wp-block-group {
  @include container;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  color: var(--paragraph-color, #{get-color(shades, darkest)});

  &:empty {
    display: none;
  }
}

.rarr {
  @include rarr;
}

.main {
  line-height: 1.889;
}

h2.has-x-large-font-size {
  --wp--preset--font-size--x-large: 5em;

  margin-bottom: 0;
  line-height: 1;
}
