@mixin icon($icon: "") {
  @include font-stack(icon);

  content: get-icon($icon);
  speak: never;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
